[submodule "lib/ITEADLIB_Arduino_Nextion"]
	path = lib/ITEADLIB_Arduino_Nextion
	url = https://github.com/itead/ITEADLIB_Arduino_Nextion.git
[submodule "lib/BMP180_Breakout_Arduino_Library"]
	path = lib/BMP180_Breakout_Arduino_Library
	url = https://github.com/sparkfun/BMP180_Breakout_Arduino_Library.git
[submodule "lib/Adafruit_NeoPixel"]
	path = lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
